$background-color: #141617;
$main-color: #212425  ;

body{
    background-color: $background-color;
}
.header{
    display: flex;
    align-items: center;
    padding: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: $main-color;
}
.name{
    font-size: 50px;

}
.artists{
    font-size: 30px;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.artists:hover{
    text-decoration: underline;
    transition: 0.5s all ease-in-out;
}
.names{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.img{
    width: 350px;
    height: 350px;
}
.artist{
    display: flex;
    flex-direction: row;
}

.main2 {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
  }
  
.tracks{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.track{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    border-radius: 10px;
    font-size: 25px;
}
.track p{
    padding-left: 10px;
}
.track:hover{
    box-shadow: 2px 2px 10px green;
    transition: 0.5s all ease;
}
.track-name-time{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    p{
        font-size: 30px;

    }
    .time{
        text-align: right;
        margin-right: 15px;
    }
}
.track-artists{
    display: flex;
}
.track-artist:hover{
    text-decoration:underline;
    transition: 0.5s all ease;
}