$background-color: #141617;
$main-color: #212425  ;

body{
    background-color: $background-color;
}
.header{
    display: flex;
    align-items: center;
    padding: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: $main-color;
}
.name{
    font-size: 50px;

}
.artists{
    font-size: 30px;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.artists:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 0.5s all ease-in-out;
}
.names{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.img{
    width: 350px;
    height: 350px;
}
.artist{
    display: flex;
    flex-direction: row;
}

.main2 {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
  }
  
.tracks{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.track{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    border-radius: 10px;
    font-size: 25px;
}
.track p{
    padding-left: 10px;
}
.track:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px green;
    transition: 0.5s all ease;
}
.track-name-time{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    p{
        font-size: 30px;

    }
    .time{
        text-align: right;
        margin-right: 15px;
    }
}
.track-artists{
    display: flex;
}
.track-artist:hover{
    cursor: pointer;
    text-decoration:underline;
    transition: 0.5s all ease;
}



.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }