$background_color:  #212425;

.search_results {
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search_result {
  flex-basis: 50%;
  max-width: 350px;
  height: 350px;
  background-color: $background_color;
  border-radius: 2%;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
}
.search_result_null{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  max-width: 390px;
  height: 390px;
  text-align: center;
  background-color: $background_color;
  border-radius: 2%;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
}
.search_result_null p{
  font-size: 20px;
}
.search_result_img {
  width: 250px;
  height: 250px;
  border-radius: 2%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.search_result_text {
  font-size: 20px;
  margin-top: 15px; 
}

  .search_result:hover, .search_result_null:hover {
    cursor: pointer;
    box-shadow: 10px 5px 10px green;
    transition: 0.5s all ease;
    
 }