$background_color:  #212425;

$background_color: #212425;

.search_results {
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search_result {
  flex-basis: 50%;
  max-width: 390px;
  height: 390px;
  background-color: $background_color;
  border-radius: 2%;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
}

.search_result_img {
  width: 250px;
  height: 250px;
  border-radius: 2%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.search_result_text {
  font-size: 20px;
  margin-top: 15px; /* Add some margin to align the text properly */
}

.play_icon {
  border-radius: 50%;
  background-color: transparent;
}

  .search_result:hover {
    box-shadow: 10px 5px 10px green;
    transition: 0.5s all ease;
    
    .play_icon{
      filter: drop-shadow(2px 2px 10px green);
      transition: 0.5s all ease;
    }
  }